.animated {
  transition:
    opacity 0.3s ease,
    border-radius 0.3s ease,
    width 0.3s ease,
    max-width 0.3s ease,
    margin 0.3s ease;
}

.me,
.text {
  display: flex;
}

.me {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.me.expanded {
  flex-direction: column;
}

.text {
  flex-direction: column;
  gap: 0.2rem;
}

.pfp_button {
  width: 64px;
  max-width: 64px;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
  display: inline-flex;
  margin: 0 0.25rem;
}

.pfp_frame {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 32px;
}

.me.expanded .pfp_button {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.pfp {
  object-fit: cover;
}

.pfp_overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.pfp_overlay.visible {
  opacity: 1;
}

.me.expanded .pfp_frame {
  border-radius: 1rem;
}

@media (min-width: 400px) {
  .me.expanded {
    flex-direction: column;
    align-items: stretch;
  }

  .text.collapsed {
    animation: fadeIn 0.6s ease;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.05;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (max-width: 700px) {
  .pfp_button {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .me {
    padding: 0rem;
    flex-direction: column;
  }

  .pfp_button {
    width: 100%;
    max-width: 50%;
  }

  .pfp_frame {
    border-radius: 50%;
  }
}
