.button {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
  display: inline-flex;
}

.selectBlocked {
  user-select: none;
}

.flag,
.flag > svg {
  height: 1.8rem;
}

.flag {
  display: inline-flex;
  margin: 0 0.5rem;
}
