:root {
  --body-max-width: 1200px;
  --main-width: 32rem;
  --hor-padding: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var(--body-max-width);
  margin: 0 auto;
}

a {
  color: inherit;
}

ul {
  list-style-type: none;
}

@media (max-width: 700px) {
  html, body {
    padding: 1rem 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
