.main {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 5rem;
}

.column {
  display: flex;
  flex-direction: column;
  width: var(--column-width);
  max-width: var(--column-width);
}

.column.me {
  display: none;
}

.column.content {
  gap: 2rem;
}

.column.canvas {
  justify-content: center;
  align-items: center;

  cursor: grab;

  width: 30vw;
  max-width: 512px;
  height: 30vw;
  max-height: 512px;
}

.element {
  padding: 0.1rem 0;
}

.element.flex > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.element.logo > a {
  text-decoration: none;
}

.element.logo > a > .text {
  text-decoration: underline;
}

.section.attributions {
  font-size: 0.8rem;
}

.section > h2 {
  padding-bottom: 1rem;
}

@media (max-width: 1100px) {
  .column.canvas {
    width: 20vw;
    height: 20vw;
  }
}

@media (max-width: 950px) {
  .main {
    flex-direction: column;
    gap: 1rem;
  }

  .column.me {
    display: flex;
  }

  .column.content {
    order: 1;
  }

  .column.canvas {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2 !important;
  }

  .column.content > .me {
    display: none;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 2rem;
  }

  .column {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .column.canvas {
    aspect-ratio: 1 / 1 !important;
  }
}

@media (prefers-color-scheme: dark) {
  .column.canvas {
    background: radial-gradient(#fff1 0%, #fff0 65%);
  }
}
