.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem;
  min-height: 100vh;
}

.section {
  padding: 1em 0;
  z-index: 1;
}

.sectionElem {
  padding: 0.3rem 0;
}


.canvasWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  aspect-ratio: 16 / 9;
}

.canvasContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attributions {
  font-size: 0.8rem;
}

@media (min-width: 1200px) {
  .main {
    width: var(--main-width);
  }

  .canvasWrapper {
    position: absolute;
    width: var(--main-width);
    height: 100%;
    left: calc(50vw + var(--hor-padding));
  }

  .canvasContent {
    max-height: 50vh;
  }
}
