.section {
  padding: 1em 0;
  z-index: 1;
}

.sectionElem {
  padding: 0.3rem 0;
}


.canvas {
  cursor: grab;
  aspect-ratio: 16 / 9;
}

.attributions {
  font-size: 0.8rem;
}

@media (min-width: 800px) {
  .main {
    width: var(--main-width);
  }

  .canvas {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    min-width: 10rem;
    width: calc(100vw - var(--main-width) - 4 * var(--hor-padding));
    height: 100vh;
  }
}
